/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$base-brown : #916643;
$dark-brown : #794B26;
$base-blue : #285757;

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 100;
  background-color: $base-brown;
}

h1 {
  font-size: 5em;
}

hr {
  border-color: $base-brown;
}

.banner-container {
  background: url('coffee-bg.jpg');
  min-height: 30vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.main-cont {
  min-height: 50vh;
  text-align: center;
  border: 2px $base-brown solid;
  border-radius: 10px;
  background-color: $dark-brown;
  margin-top: 2%;
  color: #ddd;
}

.navbar {
  background-color: $dark-brown;
  border: none;
  border-radius: 0px;
  min-height: 75px;
  max-height: 75px;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-header a, .nav-list, .nav-list li, .nav-list li a {
  min-height: 75px;
  max-height: 75px;
  color: #ddd !important;
}

.nav-list li a {
  padding-top: 1.5em;
}

.navbar-header a {
  padding-top: 1.5em;
}
