<div class="row">
  <h1><%= @product.name %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 style='font-size: 2em;'>$<%= @product.price %></h3>
    <h2 style='font-size: 2em;'><em><%= @product.country %></em></h2>
  </div>
</div>
